{% extends "base.html" %}

{% block app_content %}
<div class="page-header">
  <h1>Your Account</h1>
</div>
<div class="row profile">
    <table>
      <tr valign="top">
        <td><img class="mr1 mb1 avatar256" src="{{ user.avatar(256) }}"></img></td>
      </tr>

      <tr valign="top">
        <td>
          <h2>
            <b>{{ user.name }}</b></br>
            <small>{{ user.username }}</small>
          </h2>
          <p>{{ user.about_me }}</p>
          <a class="btn btn-default" href="{{ url_for('edit_user')}}">Edit account details</a>
        </td>
      </tr>
    </table>
</div>
{% endblock %}
